Package                               Version
------------------------------------- ---------
aiodns                                3.0.0
aiohttp                               3.8.5
aiosignal                             1.3.1
argcomplete                           2.0.0
asgiref                               3.6.0
async-timeout                         4.0.2
attrs                                 22.2.0
bcrypt                                4.0.1
Beaker                                1.12.1
beautifulsoup4                        4.12.2
blivet                                3.7.1
blivet-gui                            2.4.2
Brlapi                                0.8.4
Brotli                                1.0.9
cached-property                       1.5.2
certifi                               2022.9.24
cffi                                  1.15.1
chardet                               5.2.0
charset-normalizer                    3.1.0
click                                 8.1.3
cryptography                          37.0.2
cupshelpers                           1.0
dasbus                                1.7
dbus-python                           1.3.2
decorator                             4.4.2
distlib                               0.3.6
distro                                1.8.0
Django                                4.1.4
django-cors-headers                   3.13.0
djangorestframework                   3.14.0
dnf                                   4.18.1
dnspython                             2.2.1
docker                                5.0.3
docker-compose                        1.29.2
docker-pycreds                        0.4.0
dockerpty                             0.4.1
docopt                                0.6.2
fb-re2                                1.0.7
fedora-third-party                    0.10
file-magic                            0.4.0
filelock                              3.12.2
fros                                  1.1
frozenlist                            1.4.0
gpg                                   1.17.1
humanize                              3.13.1
idna                                  3.4
imageio                               2.27.0
imageio-ffmpeg                        0.4.8
importlib-metadata                    6.0.0
jaraco.classes                        3.2.3
jeepney                               0.8.0
Jinja2                                3.0.3
jsonschema                            4.17.3
keyring                               23.11.0
langtable                             0.0.64
libcomps                              0.1.20
libdnf                                0.72.0
lxml                                  4.9.2
Mako                                  1.2.3
MarkupSafe                            2.1.2
mercurial                             6.3.3
mod-wsgi                              4.9.4
more-itertools                        8.13.0
moviepy                               1.0.3
multidict                             6.0.4
nftables                              0.1
numpy                                 1.24.2
olefile                               0.46
packaging                             23.0
paramiko                              3.1.0
Paste                                 3.5.2
pexpect                               4.8.0
pid                                   2.2.3
Pillow                                9.5.0
pip                                   22.3.1
platformdirs                          3.6.0
ply                                   3.11
productmd                             1.37
proglog                               0.1.10
proton-core                           0.1.15
proton-keyring-linux                  0.0.1
proton-keyring-linux-secretservice    0.0.1
proton-vpn-api-core                   0.20.1
proton-vpn-connection                 0.11.0
proton-vpn-gtk-app                    4.1.0
proton-vpn-killswitch                 0.2.0
proton-vpn-killswitch-network-manager 0.2.0
proton-vpn-logger                     0.2.1
proton-vpn-network-manager            0.3.0
proton-vpn-network-manager-openvpn    0.0.4
proton-vpn-session                    0.6.2
psutil                                5.9.5
psycopg2-binary                       2.9.5
ptyprocess                            0.7.0
pwquality                             1.4.5
pyasn1                                0.4.8
pycairo                               1.23.0
pycares                               4.3.0
pycparser                             2.20
pycrypto                              2.6.1
pycups                                2.0.1
pycurl                                7.45.2
pyenchant                             3.2.2
PyGObject                             3.44.1
pykickstart                           3.47
pymongo                               4.3.3
PyNaCl                                1.5.0
pyOpenSSL                             21.0.0
pyparsing                             3.0.9
pyparted                              3.12.0
pyrsistent                            0.19.3
PySocks                               1.7.1
python-augeas                         1.1.0
python-dateutil                       2.8.2
python-dotenv                         0.21.1
python-gnupg                          0.5.0
python-meh                            0.51
pythondialog                          3.5.3
pytz                                  2022.7
pyudev                                0.24.0
pyxdg                                 0.27
PyYAML                                6.0
regex                                 2023.10.3
requests                              2.28.2
requests-file                         1.5.1
requests-ftp                          0.3.1
rpm                                   4.18.1
SecretStorage                         3.3.3
selinux                               3.5
sepolicy                              3.5
setools                               4.4.3
setuptools                            65.5.1
simpleaudio                           1.0.4
simpleline                            1.9.0
six                                   1.16.0
sos                                   4.5.1
soupsieve                             2.4.1
sqlparse                              0.2.4
systemd-python                        235
Tempita                               0.5.2
texttable                             1.6.4
tqdm                                  4.65.0
urllib3                               1.26.18
virtualenv                            20.23.1
websocket-client                      1.3.3
yarl                                  1.8.2
zipp                                  3.12.0
